<template>
  <md-app>
    <md-app-toolbar class="md-primary">
      <span class="md-title">footer</span>
    </md-app-toolbar>
  </md-app>
</template>

<script>
export default {
  name: 'Footer'
}
</script>

<style scoped>
  .md-primary {
    background-color: #ccc !important;
  }
</style>
