<template>
  <md-app>
    <md-app-toolbar class="md-primary">
      <span class="md-title">英単語ダウンローダー</span>
    </md-app-toolbar>
  </md-app>
</template>

<script>
export default {
  name: 'Header'
}
</script>
