<template>
  <div id="app">
    <!--<img src="./assets/logo.png">-->
    <Header/>
    <router-view/>
    <!--<Footer id="footer"/>-->
  </div>
</template>

<script>
import Header from '@/components/Header'
import Footer from '@/components/Footer'

export default {
  name: 'App',
  components: {
    Header,
    Footer
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /*margin-top: 60px;*/
  min-height: 100vh !important;
  max-width: 100vw;
  display: flex !important;
  flex-direction: column !important;
}

#footer {
  margin-top: auto !important;
}
</style>
